<%= simple_form_for(:session, url: sessions_path, defaults: { required: false }) do |f| %>

    <%= f.error_notification %>

    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :remember_me, as: :boolean %>

    <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>
<p><%= I18n.t('session_controller.login.invite.p1') %> <%= link_to I18n.t('session_controller.login.invite.p2'), signup_path %> </p>
